body {
    font-family: 'Poppins',
        sans-serif;
}

.top-banner {
    background-image: url(img/donation9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;




}

h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 15%;
}

p {
    font-size: medium;
    text-align: center;
}

.name-color {
    color: white;
    text-align: center;
}

.half-width {
    width: 100%;
}

.donate-now-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    object-position: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.amount {
    font-size: x-small;
    font-weight: 3px solid rgb(221, 21, 21);
    width: 15%;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 2px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 100px;
}

#contrainer {
    display: flex;
    text-align: center;
}