body {
    font-family: 'Poppins',
        sans-serif;
}

.top-banner {
    background-image: url(img/donation9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 15%;
}


p {
    font-size: medium;
    text-align: center;
}

.name-color {
    color: white;
    text-align: center;
}

.half-width {
    width: 100%;
}

.donate-now-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    object-position: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
    margin-left: 40%;
}

.amount {
    width: 30%;
    height: 30%;
    font-size: 2px;
    text-align: center;
    margin-left: 1%;
    padding: 20px 10px;
    box-shadow: 5px 5px 20px gray;
    border-radius: 10px;
}

#contrainer {
    display: flex;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 0.5;
}



#two-hundred-taka {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: orange;
    font-weight: 100;
    padding: 20px;
    border-radius: 5px;
    object-position: center;
    border: 5px solid red;

}

.two-hundred {
    color: red;
}

.text-amount {
    color: darkgrey;
    text-align: center;
    padding: 2px;
    margin: 5% 5% 5% 5%;
    font-weight: 200;
    font-size: large;
}

hr {
    width: 50%;
    text-align: center;
}

.other-amount-color {
    font-size: 20px;
    text-align: center;
    color: darkgray;
}

.donate-plan {
    display: flex;
    margin-bottom: 50px;
}

.donate-area-div {
    width: 30%;
    height: 50%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}

.black-color {
    color: black;
    padding-top: 20px;
}

#food-family {
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
    padding-left: 5px;
    padding-top: 20px;
    background-color: aquamarine;
    opacity: 50%;
}

#shelter-family {
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
    padding-left: 5px;
    padding-top: 20px;
    background-color: pink;
    opacity: 50%;
}

#education-child {
    background-image: url(icons/Frame-1.png);
    background-repeat: no-repeat;
    padding-left: 5px;
    padding-top: 20px;
    background-color: bisque;
    opacity: 50%;
}

.depend-donation {
    width: 50%;
    padding: 2%;
    text-align: left;

}

.depend-donation img {
    width: 80%;
    height: 100%;
    border-radius: 10px;

}

.contribute-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    object-position: center;

}

.contribute-div {
    margin-left: 30%;
}

#lives-depend {
    text-align: left;
    margin-left: 2%;
}